* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    transition: .05s;
    text-decoration: none;
    outline: none;
    user-select: none;
}

body {
    background: radial-gradient(circle at 0% 0%, rgba(249, 247, 235, 1) 0%, rgba(84, 68, 53, 1) 100%);
}

:root {
    --white: #FFFFFF;
    --red: #c73541;
    --red2: #e0262e;
    --darkbrown: #544435;
    --gray: #5a6c8f;
    --darkblue: #1c3862;
    --clearblue: #30bced;
    --grayblue: #afd4e4;
    --black: #000000;
    --yellow: #e7cc49;
    --orange: #d5672a;
    --creme: #d2942a;
}
